/* Estilos para la sección de ayuda */

/* Contenedor */
.accordion {
    margin: 40px;
}

.accordion-icon {
    margin: 0px 20px 0px 0px !important;
    padding: 0px !important;
}

/* Titulo de Acordion */
.h5-titulo-btn {
    color: var(--color-subtitulos);
    font-weight: 600;
    margin: 10px 0px 10px 0px;
}

/* Parrafo */
.accordion-body {
    color: var(--color-text);
}

/* Icono color */
.icon {
    color: var(--color-degrade-2);
    font-size: 1.5rem;
    margin: 10px 5px 10px 5px;
}
