/*      Navbar      */

.navbar {
  position: relative;
  padding: 10px 15px 15px 15px;
}

.navbar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #2cd59f, #1969c2);
}

.navbar-brand-spacing {
  padding-right: 50px;
}

.navbar-spacing {
  gap: 16px;
}

.nav-link-custom {
  color: #05042C;
  font-weight: 500;
}

.nav-link-custom:hover {
  color: #1969C2;
    background: linear-gradient(90deg, #05042C, #2CD89E);
    background-clip: text;
    color: transparent;
}

.nav-item.dropdown .dropdown-toggle::after {
  color: #05042C;
}

.nav-item.dropdown .dropdown-toggle:hover::after {
  color: #2CD89E;
}

.line-personalizada {
  height: -15px;
  width: 2px;
  background-color: #C7C7C7;
  margin: 0px 30px 0px 30px
}

.Icons-PerfilyCarrito {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

/*      Menu Hamburguesa      */
.navbar-toggler,
.btn-close,
.btn-close-white {
  border: none;
  outline: none;
  box-shadow: none;
}

.navbar-toggler:focus,
.btn-close:focus,
.btn-close-white:focus {
  outline: none;
  box-shadow: none;
}

/*      Footer      */

footer {
  position: absolute;
  width: 100%;
  bottom: 1;
  z-index: 1;
  display: block;
}

footer h5 {
  margin-bottom: 1rem;
}

footer ul {
  padding-left: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

footer::after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #2cd59f, #1969c2);
  z-index: -1;
}

/* Botones */
.btn {
  background: linear-gradient(to right, #2cd59f, #1969c2);
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  border: 1px solid #fff;
}

/* Productos */

.container-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}


.card-custom {
  border: 1px solid red;

}